<%layout('layout')-%>

<div class="max-w-md mx-auto my-16 p-5 bg-white dark:bg-gray-700 rounded-lg shadow-md transition-all">
    <h1 class="text-2xl font-bold text-center text-gray-900 dark:text-white">Weather App</h1>
    <p class="text-center text-gray-600 dark:text-gray-100">Check the weather in your city</p>
</div>

<div class="">        

    <form class="max-w-sm mx-auto my-16" action="/weather" method="POST">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select City</label>
        <select id="city" onchange="toggleOtherCityInput(this)" name="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="Jakarta">Jakarta</option>
            <option value="Bandung">Bandung</option>
            <option value="Yogyakarta">Yogyakarta</option>
            <option value="London">London</option>
            <option value="Manchester">Manchester</option>
            <option value="other">Other</option>
        </select>

        <input type="text" id="other-city" name="otherCity" class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hidden" placeholder="Enter city name">

        <button type="submit" class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
    
    <% if (error) { %>
        <div class="max-w-md mx-auto my-10 p-5 bg-red-500 dark:bg-red-600 rounded-lg shadow-md transition-all">
            <p class="text-white text-center"><%= error %></p>
        </div>
    <% } %>

    <% if (weather) { %>
        <div class="max-w-md mx-auto my-10 p-5 bg-white dark:bg-gray-700 rounded-lg shadow-md transition-all">
            <h2 class="text-xl font-bold text-center text-gray-900 dark:text-white"><%= weather.city %></h2>
            <p class="text-center text-gray-600 dark:text-gray-100"><%= weather.date %></p>
            
            <div class="text-center">
                <img src="https://openweathermap.org/img/wn/<%= weather.icon %>@2x.png" alt="Weather Icon" class="mx-auto">
                <p class="text-2xl font-semibold text-gray-900 dark:text-white"><%= weather.temp %>°C</p>
                <p class="text-gray-700 dark:text-gray-200 capitalize"><%= weather.description %></p>
            </div>
        
            <div class="mt-4 flex gap-4 justify-center">
                <p class="text-gray-900 dark:text-white"><strong>Humidity:</strong> <%= weather.humidity %>%</p>
                <p class="text-gray-900 dark:text-white"><strong>Wind Speed:</strong> <%= weather.wind %> m/s</p>
            </div>
        </div>        
    <% } %>


</div>
<script>
    function toggleOtherCityInput(select) {
    var otherCityInput = document.getElementById('other-city');

    if (select.value === 'other') {
        otherCityInput.classList.remove('hidden');
        otherCityInput.setAttribute('required', 'true');
    } else {
        otherCityInput.classList.add('hidden');
        otherCityInput.removeAttribute('required');
    }
    }
</script>